p{
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: 400;
  margin: 0px;
  word-spacing: 4px;
}
h2{
  font-size: 35px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    font-weight: 400;
    margin: 0px;
}
h1{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 45px;
}



.header{
  display: flex;
  flex-direction: row;
  width: 100vw;
  position: absolute;
  z-index: 99;
}
.header .column-logo{
  width: 30vw;

}
.header .column-navbars{
  display: flex;
  width: 70vw;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2vw;
}


.hero-1{
  background-image: url('assets/young-concentrated-businesswoman-glasses-striped-shirt-working-with-papers-home.jpg');
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: flex-end;
}
.hero-1 .content{
  width: 50vw;
  margin: 30vh 0vw 0vw 10vw
}
.hero-1 H1{
  color:#f19226;
}
.hero-1 H2{
  color:#f19226;
}
.hero-1 button{
  color:#fff;
  background-color: #f19226;
  border-radius: 10px;
  padding:10px 60px;
  font-size: 20px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  font-weight: 500;
  word-spacing: 4px;
  margin-top:8vw;
  margin-bottom: 6vh;
}



.section-1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.section-1 .leva {
  flex: 50;
  padding:40px;
  background-color: #7e706d;
  color: #fff;
  line-height: 1.5;
  display: flex;
  gap:20px;
  flex-direction: column;
}
.section-1 .prava{
  flex: 50
}
.section-1 .prava img{
  width: 50vw;
  padding: 0px;
  height: 400px;
  object-fit: cover;
}





.section-2{
  background-color: #dc4a34;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}


.section-3 {
  background-image: url('assets/successful-computer-gadget-digital-close.jpg');
  background-size: cover;
  background-position: center;
  padding: 80px;
}

.section-3 .row {
  display: flex;
  justify-content: space-between;
  
}

.section-3 .card {
  width: 23%;
  background-color: #ffffff;
  padding: 30px;
  padding-bottom: 80px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  color:#7f716e;
  
}








.section-4 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.section-4 .prava {
  flex: 50;
  padding:40px;
  background-color: #f29326;
  color: #fff;
  line-height: 1.5;
  display: flex;
  gap:20px;
  flex-direction: column;
}
.section-4 .leva{
  flex: 50
}
.section-4 .leva img{
  width: 50vw;
  padding: 0px;
  height: 400px;
  object-fit: cover;
}




.footer-1{
  flex-direction: row;
  display: flex;
  justify-content: center;
  color:#6a696a;
  gap: 8vw;
  padding: 4vh;
}
.footer-1 .nadpis{
  font-size: 20px;
  padding-bottom: 10px;
  font-weight: 500;
}
.footer-1 .column-nabidka{
  gap:3px;
  display: flex;
  flex-direction: column;
}
.footer-1 img{
  background-color: #686767;
  padding: 10px;
}



.hero-2{
  background-image: url('assets/close-up-male-hands-using-laptop-home_1150-790.jpg');
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: flex-end;
}
.hero-2 .content{
  width: 75vw;
  margin: 30vh 0vw 20vw 10vw
}
.hero-2 H1{
  color:#f19226;
}
.hero-2 H2{
  color:#f19226;
}



.section-5{
  margin: 5vh 10vw;
  color:#f19226;
}

.section-5 .content{
  display: flex;
  gap:20px;
  flex-direction: column;
}

.section-5 .icon-list {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  flex-direction: column;
  margin-bottom: 20px;
  gap:15px
}
.section-5 .icon-list .list-content{
  flex-direction: row !important;
  display: flex;
  gap:15px
}
.section-5 .icon-list .list-content .kontakt{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.section-5 .boxs {
  justify-content: space-between;
  display: flex;
}

.section-5 .box {
  border: 1px solid #7e706d;
  width: 23vw;
  padding: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  
  color:#f19226;
  
}

.section-5 .box .content {
  gap:3px;
  flex-direction: column !important;
  margin-left: 15px;
}


.section-6{
  background-image: url('assets/cozy-desktop-with-coffee-laptop kopie.jpg');
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.section-6 .content{
  width: 75vw;
  margin: 10vw
}
.section-6 .content li{
  color:#7e706d;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
  margin: 5px;
  font-weight: 300;
}


.hero-3{
  background-image: url('assets/andrew-neel-cckf4TsHAuw-unsplash.jpg');
  background-size: cover;
  height: 75vh;
  display: flex;
}
.hero-3 .content{
  margin: 40vh 35vw 10vw 10vw
}
.hero-3 H1{
  color:#f19226;
}
.hero-3 H2{
  color:#f19226;
}


.section-7{
  display: flex;
  flex-direction: column;
  margin: 2vh 5vw;

}
.section-7 .content{
  display: flex;
  flex-direction: column;
}
.section-7 .content H2{
  font-size: 35px;
  color:  #686767 !important;
  font-weight: 700;
  margin: 20px 0;
}
.section-7 .content p{
  font-size: 23px;
  color:  #686767 !important;
}
.section-7 .content .list{
  display: flex;
  flex-direction: row;
  margin: 25px 0;

}
.section-7 .content .list .leva{
  display: flex;
  flex-direction: column;

  border-right: solid #000 2px;
  width: 30%;
  justify-content: space-between;

}
.section-7 .content .list .leva p{
  color:#f19226 !important;
  font-size: 25px;
  font-weight: 600;
  margin: 20px 20px 20px 0;
}
.section-7 .content .list .prava{
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-between;
}
.section-7 .content .list .prava p{
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 20px;
}


